---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About my blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/cutie.png" alt="Kitty on laptop" width="500">
    </figure>
    <p>I'm a Software Engineer based in Zürich, Switzerland.</p>
    <p>I currently work in DevOps, focusing on building infrastructure and making systems more observable and reliable. My background is in embedded systems, where I developed real-time software solutions for the automotive industry.</p>
    <p>Outside of work, you'll often find me practicing yoga or reading.</p>
    <p>Thanks for stopping by and feel free to reach out!</p>
    <p>contact@elena-arnaudova.com</p>
    <a href="https://x.com/arnaudova_elena" target="_blank">X-Twitter</a>
    <a href="https://github.com/earnaudova" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/elena-arnaudova/" target="_blank">LinkedIn</a>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: center;
    max-width: 500px;
  }

  .about-image img {
    border-radius: 8px;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
    }
  }
</style>
