<div>
  <p>
    Hi, I'm <strong>Eli</strong>. I'm a software engineer based in Zürich.
    You can follow me on <a href="https://x.com/arnaudova_elena" target="_blank">Twitter</a>,
    see some of my work on <a href="https://github.com/earnaudova" target="_blank">GitHub</a>,
    or connect with me on <a href="https://www.linkedin.com/in/elena-arnaudova/" target="_blank">LinkedIn</a>.
    </br> </br>
    Thanks to <a href="https://x.com/charca" target="_blank">Maxi Ferreira</a> 
    I got this cute <a href="https://github.com/Charca/astro-blog-template" target="_blank">theme</a> for my website.
    Now I can entirely focus on being productive and finally start sharing what's on my mind.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
